body{
    font-family: sans-serif;
}
.form{
    max-width: 500px;
  margin: 20px auto;
  border: 2px solid #ccc;   
  border-radius: 10px;      
  padding: 25px;            
  background: #f9f9f9;      
}
.form-group{
  border: none;            
  padding: 0;               
  margin-bottom: 20px;      
}
.label{
    display: block;
  font-weight: 500;
  margin-bottom: 0.5rem;
  line-height: 2;
}
textarea{
    resize: vertical;
    max-height: 200px;
}
.button{
    cursor: pointer;
}